*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
     font-family: "Nunito", sans-serif;
}
body{
    background-color: #F9FAFF;
}
header{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 20px;
    position: fixed;
    z-index: 1;
    font-size: 18px;
    font-weight: 700;
    line-height: 180%;
}
ul{
    display: flex;
    width: 50vw;
    justify-content: space-evenly;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
section, main{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 120px 0 0 120px;
}
.img-header{
    margin-top: -120px;
    position: relative;
    z-index: 0;
}

footer{
    background-image: url("img/footer");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 50vh;
}
h1{
      font-family: "Playfair Display", serif;
      font-size: 64px;
      font-weight: 700;
      line-height: 120%;
}
.cargo{
    font-size: 20px;
    color: #9986EC;
    font-weight: 800;
    text-transform: uppercase;
}
.description{
    font-size: 24px;
    color: #828282;
    font-weight: 400;
    line-height: 150%;
}
.info{
    width: 30vw;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
button, a{
    padding:8px 24px ;
    border-radius: 8px;
}
.btn-project{
    background-color: #9986EC;
    border: none;
}
.btn-ghost{
    background-color: transparent;
    border: 2px solid black;
}
main{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
}
article{
    display: flex;
    width: 60vw;
    background-color: #fff;
    border-radius: 24px;
}
.info-projeto{
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
#contatos{
    flex-direction: column;
}
label, input{
    display: block;
    padding: 4px;
}

input{
    border-radius: 8px; 
    border: 1px solid #b700ff;
    background: var(--bg-white, #ffffff);
    width: 400px;
    height: 40px;
    padding: 24px;
}

#mensagem{
    
    height: 160px;
}

fieldset{
    border: none;
    display: flex;
    flex-direction: column;
}
#contatos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 56px;
    padding-left: 0;
}

footer div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}

footer p{
    text-align: center;
}

.btn{
    width: auto;
    padding: 8px 24px;
    align-self: flex-end;
}

/* HOVER- estilizações para quando o mouse passar sobre o elemento */
/* PSEUDO-CLASSES é recurso do CSS que permite estilizar um elemento HTML com base em um estado especifico ou em fatores externos, sem precisar alterar o codigo HTML*/

header:hover{
    background-color:rgba(153,134,236) /* quanto menor o num. mais transparente*/
}

.btn-project:hover{
    padding: 12px 28px;
    box-shadow:2px 2px 2px 2px  #828282;
}



